{%extends 'base.html'%}
{%block title%}
Faculty Page
{%endblock%}
{%block head%}
{%endblock%}
{%block content%}
   <!-- masonry
   ================================================== -->
   <section id="bricks">

   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">

         	<div class="grid-sizer"></div>

            {%for user in users%}
            <article class="brick entry format-standard animate-this">

               <div class="entry-thumb">
                  <a href="/professor/{{user}}" class="thumb-link">
                    <img src="/media/{{user.avatar}}" alt="building">             
                 </a>
              </div>

              <div class="entry-text">
                 <div class="entry-header">

                   <div class="entry-meta text-center">
                      {{user.designation}}
                   </div>
<!--                			<span class="cat-links">
               				<a href="#">Design</a> 
               				<a href="#">Photography</a>               				
               			</span>		 -->	
                      <h1 class="entry-title"><a href="/professor/{{user}}">{{user.name}}</a></h1>
                   </div>
                   <div class="entry-excerpt">
                    Email:- {{user.user.email}}
                    <br>
                    Office:- {{user.office}}
                    <br>
                    {%if user.phone%}Ph No.:- {{user.phone}}{%else%}<br>{%endif%}
                 </div>
              </div>

           </article> <!-- end article -->
           {%endfor%}

        </section> <!-- end bricks -->
{%endblock%}
{%block scripts%}
{%endblock%}