{% autoescape off %}
{%if not user.profile.designation %}
Welcome {{user.profile.name}},
To Activate Your Account go to the following link below:
{%else%}
To initiate the password reset process for your {{ user.get_username }} TestSite Account,
click the link below:
{%endif%}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
The Awesome Team
{% endautoescape %}