{%extends 'registration/base.html'%}
{% block title %}Password changed!{% endblock %}
{%block head%}
<style type="text/css">
/*  .g-recaptcha{
    margin: 0 auto;
    width:90%;
  }
  */
</style>
{%endblock%}
{%block content%}


<div class="header header-info text-center">
	<h4>Password Changed!</h4>
	{% if error_message%}<span style="color:red;"><i class="fa fa-exclamation-circle">&nbsp;&nbsp; </i>{{error_message}}</span>{%else%}{%endif%}
</div>
<p class="text-divider">
	Your password has been set.<br>You may go ahead and sign in now.
</p>
<div class="content">
	<div class="footer text-center">
		<a href="/portal/login" class="btn btn-simple btn-info   btn-lg">Go Back To Login Page</a>
	</div>
</div>

{%endblock%}