{%extends 'registration/base.html'%}
{%block title%}
{% if validlink %}
Change password for<br>{{ form.user.username }}
{% else %}
Reset your password
{% endif %}
{%endblock%}
{%block head%}
<style type="text/css">
/*  .g-recaptcha{
    margin: 0 auto;
    width:90%;
  }
  */
</style>
{%endblock%}
{%block content%}

<form class="form" method="POST">
  <div class="header header-info text-center">
    <h4>Change Password</h4>
    {% if error_message%}<span style="color:red;"><i class="fa fa-exclamation-circle">&nbsp;&nbsp; </i>{{error_message}}</span>{%else%}{%endif%}
  </div>
  <p class="text-divider">
    <span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span>

  </p>

  <div class="content">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="material-icons">lock_outline</i>
      </span>
      <input type="password" placeholder="Password..." name="new_password1" class="form-control" />
    </div>   
    <div class="input-group">
      <span class="input-group-addon">
        <i class="material-icons">lock_outline</i>
      </span>
      <input type="password" placeholder="Retype Password..." name="new_password2" class="form-control" />
    </div>

    <div class="footer text-center">
      {% csrf_token %}
      <input type="submit" value="Change Password" class="btn btn-simple btn-info   btn-lg">
    </div>
  </form>
  {%endblock%}