
{%extends 'registration/base.html'%}
{% block title %}Reset your password{% endblock %}

{%block head%}
<style type="text/css">
/*  .g-recaptcha{
    margin: 0 auto;
    width:90%;
  }
  */
  .text-divider{
  	padding-left:20px;
  	padding-right:20px;
  }
</style>
{%endblock%}
{%block content%}


<div class="header header-info text-center">
	<h4>Check Your Email</h4>
	{% if error_message%}<span style="color:red;"><i class="fa fa-exclamation-circle">&nbsp;&nbsp; </i>{{error_message}}</span>{%else%}{%endif%}
</div>
<p class="text-divider">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
<p class="text-divider">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
</p>
<br>
<br>


{%endblock%}