{%extends 'registration/base.html'%}
{%block title%}Reset Password{%endblock%}
{%block head%}
<style type="text/css">
/*  .g-recaptcha{
    margin: 0 auto;
    width:90%;
  }
  */
</style>
{%endblock%}
{%block content%}

<form class="form" method="POST">
  <div class="header header-info text-center">
    <h4>Forgot Password</h4>
    {% if error_message%}<span style="color:red;"><i class="fa fa-exclamation-circle">&nbsp;&nbsp; </i>{{error_message}}</span>{%else%}{%endif%}
  </div>
  <p class="text-divider">Enter your email address and we will send you a link to reset your password.</p>
  <div class="content">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="material-icons">email</i>
      </span>
      <input type="text" class="form-control" name="email" placeholder="Email...">
    </div>

    <div class="footer text-center">
      {% csrf_token %}
      <input type="submit" value="Reset My Password" class="btn btn-simple btn-info   btn-lg">
    </div>
  </form>
  {%endblock%}